@model Jodit.ViewModels.MissionModel

@{
    Layout = "_GroupNavigationLayout";
    ViewData["IdGroup"] = Model.Group.IdGroup;
}
 
<h2>Создать задачу</h2>
 

<form asp-action="CreateMission" asp-controller="Mission">
    <div>
        <label asp-for="Mission">Сообщение</label><br />
        <input type="text" asp-for="Mission.Title" />
    </div>
    
    <div>
        <label asp-for="Mission">Описание</label><br />
        <input type="text" asp-for="Mission.Description" />
    </div>
    
    <div>
        <label asp-for="Mission">Дата сдачи</label><br />
        <input type="date" asp-for="Mission.Deadline" />
    </div>
    
    @{
        <ul>
            @for (var i = 0; i < Model.ChooseUsers.Count(); i++)
            {
                
                <li>       
                    <label asp-for="@Model.ChooseUsers[i].Checkbox.Value">@Model.ChooseUsers[i].User.Email</label>
                    <input type="checkbox" asp-for="@Model.ChooseUsers[i].Checkbox.Value"  />
                    <input type="hidden" asp-for="@Model.ChooseUsers[i].User.IdUser" />
                </li>
                
            }
        </ul>
    }
    
    <input type="hidden" asp-for="@Model.Group.IdGroup" />
    <div class="form-group">
        <input type="submit" value="Подтвердить" class="btn btn-default">
    </div>
</form>