@using Jodit.Controllers
@model Jodit.ViewModels.MissionModel 
 

<div class="row mt-4 ml-4">
    <div class="col-12">
        <h2 class="color1">Мои задачи</h2>
    </div>
</div>


<table class="table table-sm">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Описание</th>
        <th scope="col">Дата сдачи</th>
        <th scope="col">Действия</th>
        <th scope="col">Подробная информация...</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var userMission in Model.executorsMissions)
    {
        @if (userMission.Status.Equals(MissionController.STATUS.PENDING.ToString()))
        {
            <tr>
                <td>
                    @userMission.Mission.Title
                </td>
                <td>
                    @userMission.Mission.Description
                </td>
                <td>
                    @userMission.Mission.Deadline
                </td>
                <td>
                    <div class="row ml-4 my-3">
                        <div class="col">
                            <a asp-action="TakeMission" asp-route-idUserMission="@userMission.IdUserMission" asp-controller="Mission">
                                <button class="btn btn-dark my-2">Взять</button> 
                            </a>
                        </div>
                        <div class="col">
                            <a asp-action="RefuseMission" asp-route-idUserMission="@userMission.IdUserMission" asp-controller="Mission">
                                <button class="btn btn-dark my-2">Отклонить</button> 
                            </a>
                        </div>
                        <div class="col">
                            <a asp-action="ListExecutors" asp-route-id="@userMission.Mission.IdMission" asp-controller="Mission">
                                <button class="btn btn-dark my-2">Список исполнителей</button> 
                            </a>
                        </div>
                    </div>
                </td>
            </tr>   
        }
    }
    
    @foreach(var userMission in Model.executorsMissions)
    {
        @if (userMission.Status.Equals(MissionController.STATUS.TAKE.ToString()))
        {
            <tr>
                <td>
                    @userMission.Mission.Title
                </td>
                <td>
                    @userMission.Mission.Description
                </td>
                <td>
                    @userMission.Mission.Deadline
                </td>
                <td>
                    <div class="row ml-4 my-3">
                        <div class="col">
                            <a asp-action="PassMission" asp-route-idUserMission="@userMission.IdUserMission" asp-controller="Mission">
                                <button class="btn btn-dark my-2">Вернуть</button> 
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row ml-4 my-3">
                        <div class="col">
                            <a asp-action="ListExecutors" asp-route-id="@userMission.Mission.IdMission" asp-controller="Mission">
                                <button class="btn btn-dark my-2">Список исполнителей</button> 
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    }
    
    @foreach (var userMission in Model.authorsMissions)
    {
        <tr>
            <td>
                @userMission.Mission.Title
            </td>
            <td>
                @userMission.Mission.Description
            </td>
            <td>
                @userMission.Mission.Deadline
            </td>
            <td>
             <div class="row ml-4 my-3">
                @if (userMission.Status.Equals(MissionController.STATUS.PASS.ToString()))
                {
                    <div class="col">
                        <a asp-action="deleteMission" asp-route-idUserMission="@userMission.IdUserMission" asp-controller="Mission">
                            <button class="btn btn-dark my-2">Принять</button> 
                        </a>
                    </div>
                    <div class="col">
                        <a asp-action="returnMission" asp-route-idUserMission="@userMission.IdUserMission" asp-controller="Mission">
                            <button class="btn btn-dark my-2">Вернуть</button> 
                        </a>
                    </div>
                   
                }
                <div class="col">
                    <a asp-action="deleteMission" asp-route-idUserMission="@userMission.IdUserMission" asp-controller="Mission">
                        <button class="btn btn-dark my-2">Удалить</button> 
                    </a>
                </div>
             </div>
            </td>
            <td>
                <div class="row ml-4 my-3">
                    <div class="col">
                        <a asp-action="ListUserMissions" asp-route-id="@userMission.Mission.IdMission" asp-controller="Mission">
                            <button class="btn btn-dark my-2">Список исполнителей</button> 
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
