@using Jodit.Controllers
@model List<UserMission>

@{
    ViewData["Title"] = "All groups";
}


<table class="table">
    <tr>
        <td>
            Name
        </td>
        <td>
            Email
        </td>
        <td>
            Phone
        </td>
        <td>
            Status
        </td>
        <td>
            Actions
        </td>
    </tr>
    @foreach(var userMission in Model)
    {
        <tr>
            <td>
                @userMission.Executor.FirstName @userMission.Executor.SecondName 
            </td>
            <td>
                @userMission.Executor.Email
            </td>
            <td>
                @userMission.Executor.Phone
            </td>
            <td>
                @userMission.Status
            </td>
            <td>
                @if (userMission.Status.Equals(MissionController.Status.Refuse.ToString()))
                {
                    <a asp-action="DeleteMission" asp-route-idUserMission="@userMission.IdUserMission" asp-controller="Mission">delete</a><br>   
                }
            </td>
        </tr>
    }
</table>