@model Jodit.ViewModels.UserModel

@{
    ViewData["Title"] = "All groups";
}


<table class="table">
    <tr>
        <td>
            Name
        </td>
        <td>
            Email
        </td>
        <td>
            Phone
        </td>
    </tr>
    @foreach(var user in Model.Users)
    {
        <tr>
            <td>
                @user.FirstName @user.SecondName 
            </td>
            <td>
                @user.Email
            </td>
            <td>
                @user.Phone
            </td>
            <td>
                @user.Phone
            </td>
            <td>
                @{
                    if (Model.User.IdUser != user.IdUser)
                    {
                        <a asp-action="InviteUserFinal" asp-controller="User" asp-route-idUser="@user.IdUser" asp-route-idGroup="@Model.Group.IdGroup">Invite</a>
                    }
                }
            </td>
        </tr>
    }
</table>