@model Jodit.ViewModels.UserModel

@{
    ViewData["Title"] = "All groups";
    Layout = "_GroupNavigationLayout";
    ViewData["IdGroup"] = Model.Group.IdGroup;
}


<table class="table">
    <tr>
        <td>
            ФИО
        </td>
        <td>
            Почта
        </td>
        <td>
            Телефон
        </td>
        <td>
            Действия
        </td>
    </tr>
    @foreach(var user in Model.Users)
    {
        <tr>
            <td>
                @user.FirstName @user.SecondName  @user.LastName
            </td>
            <td>
                @user.Email
            </td>
            <td>
                @user.Phone
            </td>
            <td>
                @{
                    if (Model.User.IdUser != user.IdUser)
                    {
                        <div class="col">
                            <a asp-action="InviteUserFinal" asp-controller="User" asp-route-idUser="@user.IdUser" asp-route-idGroup="@Model.Group.IdGroup">
                                <button class="btn btn-dark my-2">Пригласить</button>
                            </a>
                        </div>
                    }
                }
            </td>
        </tr>
    }
</table>