@model Jodit.ViewModels.AccountModel
@{
    ViewData["Title"] = "Account";
}

<h2>@Model.User.FirstName</h2>
<h2>@Model.User.SecondName</h2>
<h2>@Model.User.LastName</h2>
<h2>@Model.User.Email</h2>
<h2>@Model.User.Phone</h2>

<form asp-action="Logout" asp-controller="Account" asp-anti-forgery="true">
    <div>
        <input type="submit" value="Выйти" />
    </div>
</form>