@model List<GroupInvite>
 

@{
    ViewData["Title"] = "Group invitations";
}

<table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Группа</th>
              <th scope="col">Сообщение</th>
              <th scope="col">Пригласивший пользователь</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody>
          @foreach(var groupInvite in Model)
          {
              <tr>
                  <td>
                      @groupInvite.Group.GroupName
                  </td>
                  <td>
                      @groupInvite.Title
                  </td>
                  <td>
                      @groupInvite.InvitingUser.FirstName
                  </td>
                  <td>
                      <div class="row ml-4 my-3">
                          <div class="col">
                              <a asp-action="AcceptGroupInvitations" asp-route-idGroupInvitations="@groupInvite.IdGroupInvite" asp-controller="Account">
                                  <button class="btn btn-dark my-2">Принять</button> 
                              </a>
                          </div>
                          <div class="col">
                              <a asp-action="RefuseGroupInvitations" asp-route-idGroupInvitations="@groupInvite.IdGroupInvite" asp-controller="Account">
                                  <button class="btn btn-dark my-2">Отклонить</button> 
                              </a>
                          </div>
                      </div>
                  </td>
              </tr>
          }
          </tbody>
    </table>