@model Jodit.ViewModels.AccountModel
 

@{
    ViewData["Title"] = "Group invitations";
}

<table class="table">
    <tr>
        <td>
            Group name
        </td>
        <td>
            Title
        </td>
        <td>
            Inviting user
        </td>
        <td>
            Actions
        </td>
    </tr>
    @foreach(var groupInvite in Model.user.GroupInvitations)
    {
        <tr>
            <td>
                @groupInvite.Group.GroupName
            </td>
            <td>
                @groupInvite.Title
            </td>
            <td>
                @groupInvite.InvitingUser.FirstName
            </td>
            <td>
                <a asp-action="AcceptGroupInvitations" asp-route-idGroupInvitations="@groupInvite.IdGroupInvite" asp-controller="Account">Accept</a>
            </td>
            <td>
                <a asp-action="RefuseGroupInvitations" asp-route-idGroupInvitations="@groupInvite.IdGroupInvite" asp-controller="Account">Refuse</a>
            </td>
          
        </tr>
    }
</table>