@model Jodit.ViewModels.ScheduleChangeModel
@{
    Layout = "_GroupNavigationLayout";
    ViewData["IdGroup"] = Model.ScheduleChange.Group.IdGroup;
    
}

<form asp-action="CreateScheduleChange" asp-controller="Group">
    
    <input type="hidden" asp-for="@Model.ScheduleChange.Group.IdGroup" />
    
    <input type="hidden" asp-for="@Model.ScheduleChange.BeforeUser.IdUser" />
    
    <input type="hidden" asp-for="@Model.ScheduleChange.AfterUser.IdUser" />
    
    <input type="hidden" asp-for="@Model.IdScheduleStatement" />
    
     <h3>Выберите день который хотите поменять</h3>
    @Html.DropDownList("chooseDate",new SelectList(Model.DateTimes))
    
    <div class="form-group">
        <input type="submit" value="Подтвердить" class="btn btn-default">
    </div>
</form>

