@using System.Collections
@model Jodit.ViewModels.GroupDetailsModel

@{
    ViewData["Title"] = "Details";
}
<h1>@Model.UserGroup.Group.GroupName</h1><br>


<a asp-action="ListUsers" asp-route-id="@Model.UserGroup.Group.IdGroup" asp-controller="User">Users list</a><br>
<a asp-action="ListRules" asp-controller="Group" asp-route-idGroup="@Model.UserGroup.Group.IdGroup">Rules list</a><br>
<a asp-action="CreateStatement" asp-route-id="@Model.UserGroup.Group.IdGroup" asp-controller="Group">will change</a><br>
<a asp-action="ListScheduleStatement" asp-route-id="@Model.UserGroup.Group.IdGroup" asp-controller="Group">list change</a><br>

<br>
@{
    if (Model.UserGroup.IsAdmin)
    {
        <a asp-action="CreateMission" asp-route-id="@Model.UserGroup.Group.IdGroup" asp-controller="Mission">Create task</a><br>
        <a asp-action="CreateRule" asp-controller="Group" asp-route-id="@Model.UserGroup.Group.IdGroup">Create rule</a><br>
        <a asp-action="InviteUser" asp-controller="User" asp-route-id="@Model.UserGroup.Group.IdGroup">Invite user</a><br>
    }
}

<form>
    <div>
        <label for="date">Enter date:</label>
        <input type="date" id="date" name="date">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
<br>
<h6>@ViewData["ResultCalculateByDate"]</h6>

<br><br><h3>Дежурства на 30 дней</h3>
@{
    ArrayList list = Model.UserGroup.Group.CalculateToDate(DateTime.Now.Date.AddDays(30));
    var listRules = Model.UserGroup.Group.Rules.ToList();
    foreach (UserDateTime item in list)
    {
        var a = Model.ScheduleChanges
            .FirstOrDefault(x => x.AfterUserDate == item.DateTime);
        var b = Model.ScheduleChanges
            .FirstOrDefault(x => x.BeforeUserDate == item.DateTime);
        int indexDayOfWeek = (int) item.DateTime.DayOfWeek;
        var rule = listRules.FirstOrDefault(x => x.Days.Contains(indexDayOfWeek));


        if (a != null)
        {
            <h6>
                Date: @item.DateTime.ToShortDateString()
                user: @a.BeforeUser.FirstName @a.BeforeUser.SecondName
            </h6>
        }
        else if (b != null)
        {
            <h6>
                Date: @item.DateTime.ToShortDateString()
                user: @b.AfterUser.FirstName @b.AfterUser.SecondName
            </h6>
        }
        else
        {
            if (rule != null)
            {
                <h6>Date: @item.DateTime.ToShortDateString() user: @rule.User.FirstName  @rule.User.SecondName</h6>
            }
            else
            {
                <h6>Date: @item.DateTime.ToShortDateString() user: @item.User.FirstName  @item.User.SecondName</h6>
            }
        }
    }
}
