@model Jodit.ViewModels.GroupDetailsModel

@{
    ViewData["Title"] = "Details";
    ViewData["IdGroup"] = Model.UserGroup.Group.IdGroup;
    Layout = "_GroupNavigationLayout";
    
}

<h1>@Model.UserGroup.Group.GroupName</h1><br>
<form>
    <div>
        <label for="date">Выберете дату:</label>
        <input type="date" id="date" name="date">
    </div>
    <div class="row">
        <div class="col">
            <a>
                <button class="btn btn-dark my-2" type="submit">Подтвердить</button>
            </a>
        </div>
    </div>
    
</form>
<br>
<h6>@ViewData["ResultCalculateByDate"]</h6>

<br><br><h3>Дежурства на 30 дней</h3>

@{
    List<UserDateTime> list = Model.UserGroup.Group.CreateSchedule(DateTime.Now.Date.AddDays(30));
    foreach (var item in list)
    {
        <h6>
            Дата: @item.DateTime.ToShortDateString()
            Пользователь: @item.User.FirstName @item.User.SecondName
            День недели: @item.DateTime.DayOfWeek
        </h6>
    }
}
