@model Jodit.ViewModels.UserModel

@{
    Layout = "_Layout";
}


<table class="table">
    <tr>
        <td>
            ФИО
        </td>
        <td>
            Почта
        </td>
        <td>
            Телефон
        </td>
    </tr>
    @foreach(var user in Model.Users)
    {
        <tr>
            <td>
                @user.FirstName @user.SecondName  @user.LastName
            </td>
            <td>
                @user.Email
            </td>
            <td>
                @user.Phone
            </td>
        </tr>
    }
</table>