@model Jodit.ViewModels.ListScheduleStatementViewModel
@{
    Layout = "_GroupNavigationLayout"; 
    ViewData["IdGroup"] = Model.GroupId;
}

<table class="table table-sm">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Комментарий</th>
        <th scope="col">Дата</th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var statement in Model.List)
    {
        <tr>
            <td>
                @statement.Comment
            </td>
            <td>
                @statement.ReplacementDate.ToShortDateString()
            </td>
            <td>
                <div class="row">
                    <div class="col">
                        <a asp-action="CreateScheduleChange" asp-route-idGroup="@statement.Group.IdGroup"
                           asp-route-idUserBefore="@statement.BeforeUser.IdUser"
                           asp-route-idScheduleStatement="@statement.IdScheduleStatement"
                           asp-controller="Group">
                            <button class="btn btn-dark my-2">Принять</button>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>